* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  /* overflow-x: hidden; */
  /* min-width: 370px; */
}

.app{
  /* width: 100vw; */
  overflow-x: inherit;
}

                                                      /* navbar  */
.navbar{
  display: inline-block;
  color: white;
  width: 100%;

}
.navbar-container{
  background: #0F1111;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  grid-auto-rows: 65px;

}

@media screen and (max-width: 900px) {


 .logo-container{
   grid-column: 1/2;
   margin-right: 1.5em;
   
   
 }
 .logo-container p{
   cursor: pointer;
   /* height: 100%; */
 }

 .search-container{
   grid-column: 1/4;
   grid-row: 2/3;

 }
 .nav-tools {
  grid-column: 3/4;
 }
}

.btn{
  cursor: pointer;
}
.logo-container {
  margin-left: 2rem;
  


}



.search-container{
  background: #0F1111;
  background-color: #ffffff;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #222328;
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin: 1rem 1rem 1rem 1rem;
}

.input-container{
  flex-grow: 1;
  display: flex;
  align-items: center;
  
}
.input-container input{
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 20px;
  margin-left: 10px;
}

.button-container {
  color: black;
  background: #febd69;
  /* width: 50px; */
  display: flex;
  justify-content: center;
  align-items: center; 
  cursor: pointer;
  transition: .3s ease;
}
.button-container i {
padding: 25px;
}
.button-container:hover {
  background: #fdb04b;
}



.nav-tools {
  white-space: nowrap;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
  align-items: center; 
  font-size: 20px;
  margin-left: auto; 
  margin-right: 2rem;


}
.nav-sign-in{
  cursor: pointer;

}
#your-account{
 font-weight: bold;

}



                                      /* footer      */
.footer p{
  text-align: center;
  color:darkgray;
  padding: 4rem 0 0 0;
}


                                      /* latest product */

.latest-product-container{
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr) );
  background: #ffffff;
  margin: 0 1.5rem 0 1.5rem ;
}

@media screen and (max-width: 900px) {
  .latest-product-container{

    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .latest-product-container{

    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 400px) {
  .latest-product-container{

    grid-template-columns: repeat(1, 1fr);
  }
}
.product-tile{

  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 10px;
  transition: transform .1s;
  border: 1px solid rgb(219, 219, 219) ;
}


.product-tile:hover{
  transform: scale(1.02);
}
.img-top{
  /* width: 100%; */
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  

}
.img-top img{
  width: 20vh;
  height: 20vw;
  border-radius: 10px;
}


#product-price {
  font-size: 0.85rem;
  color: rgb(0, 0, 0);
  margin-left: 0.5rem;
}

.star-outer{
  /* display: flex; */
  position: relative;
  display: inline-block;
}
.star-inner{
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;

  
}
.star-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: 'Font Awesome 5 free';
  font-weight: 200;
  color: rgb(218, 216, 216);
}

.star-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: 'Font Awesome 5 free';
  font-weight: 1000; 
  color: #f8ce0b;
}
                                      /* search Page */
.section-spacing{
/* float: left; */
  padding: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 10px #ddd;
}
.content-container{
  display: flex;
  margin: 0 1.5rem 0 1.5rem ;
  /* flex-direction: column; */
  
  
}
.filter-section-left{
  padding-right: 16px;
  border-right: 2px solid #ddd;
}
.product-content-right {
  padding-left: 16px;
  width: 100%;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr) );
}

                                          /* filter */

.filter-price form {
  display: flex;
}
.price-range{
  display: flex;
}

.filter-price input[type=text]{
  border: 1px solid #888C8C;
  border-left: none;
  border-radius: 0 3px 3px 0;
  box-shadow: 
  inset 0px 10px 4px -10px #CCC,
  inset 0px -10px 4px -10px #CCC; 
  height: 40px;
  font-size: 1.2rem;
  width: 65px;
}
.filter-price input:focus{
  outline: none;
}
.filter-price span{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px 0 0 3px;
  box-shadow: 
  inset 0px 10px 4px -10px #CCC,
  inset 0px -10px 4px -10px #CCC; 
  height: 40px;
  border: 1px solid #888C8C;
  border-right: none;
  padding-left: 8px;
  font-size: 1.3rem;

}
.price-range {
  margin-right: 8px;
}
.filter-price button {
  background-color: transparent;
  border: 1px solid #888C8C;
  border-radius: 8px;
  color: black;
  box-shadow: 0 1px 2px rgb(15 17 17 / 15%) inset;
  width: 40px;
  margin-left: 4px;
}
.filter-price button:hover{
  background-color: #f0f0f0;
}
.filter-price button:focus{
  background-color: #febd69;
}

                                  /* filter by rating */
.filter-star-outer {
  position: relative;
  display: inline-block;
  pointer-events: none;
}
.filter-star-outer + span {
  pointer-events: none;
}

.filter-star-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: 'Font Awesome 5 free';
  font-weight: 200;
  color: rgb(218, 216, 216);
}

.filter-star-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: 'Font Awesome 5 free';
  font-weight: 1000; 
  color: #f8ce0b;
}









                                      /* loader */
.loader{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  padding-left: 0;
}
.loader::after{
  content: '';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fa9c23;
  border-color: #fa9c23 transparent;
  animation: lds-dual-ring 1.2s linear infinite;

}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



                                      /* Product details  */
.product-details-container{
  margin-top: 3rem;
  display: flex;
  position: relative;
}
hr {
  margin: 2rem 0 2rem 0;
  /* width: 75%; */
}
.left-side{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-side{
  flex: 1;

}
.right-container {
  width: 75%;
}
.product_name h3{
  font-size: 2rem;
}
.product_name p {
  margin-top: -1.5rem;
}

#no_of_reviews{
  margin-left: 1rem;
}
#product_price{
  font-weight: bold;
  font-size: 2rem;
}
.stock-counter{
  margin-top: -1.5rem;
}

.btn-minus{
  padding: 0.2rem 0.6rem;
  background-color: #eb334c;
}
.btn-plus {
  padding: 0.2rem 0.6rem;
  background-color: #3DB2FF;
}
.submit-btn, #cart_btn, .btn{
  font-size: 1.2rem;
  color: #ffffff;
  /* margin-left: 1.5rem; */
  border-radius: 1.5rem;
  border: none;
  background-color: #fa9c23;
  padding: 0.7rem 2rem;;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}
.product-description h4{
  font-size: 1.3rem;
}
.product-description p{

}
.greenColor{
  font-weight: bold;
  color: green;
}
.redColor {
  font-weight: bold;
  color: red;
}

                                      /* review modal  */

.modal-box{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: fadein 1.2s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: .7; }
}
#modal-hr{
  margin: 0;
}

.popup-inner{
  background: whitesmoke;
  z-index: 3;

}
.modal-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem 0 1rem;


}

.close-btn{
  /* float: right;
  /* margin: 20px 20px; */
  cursor: pointer;
} 

.form-wrapper{
  width: 480px;

  justify-content: center;
  align-items: center;
  -webkit-animation: fadein 1.2s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.form{
  padding: 0 1rem 0 1rem;
  width: 100%;

}
.form textarea {
  width: 100%;
  height: 5rem;
  resize: vertical;

  margin-top: 2rem;
  /* margin-bottom: 2rem; */
}

.submit-btn {
float: right;
margin: 1.3rem 0 2rem 0;
}

.rate-product{
  cursor: pointer;
  
}

                              /* pagination */

.pagination{
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 4rem 0 4rem 0;
  padding-left: 0;

  
}
.pagination  li{
  
  display: flex;
  width: 2rem;
  height: 2rem;
  margin: .6rem .7rem .6rem .7rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  

}
.pagination li:hover{
  transform: scale(1.2);
  background-color: rgb(245, 245, 245);
}

.pagination .active {
  background-color: #fa9c23 !important; 
  color: white;
  transform: none !important;
  font-size: 1.2rem;
}
.pagination .active a:-webkit-any-link{
  color: white;
}
.pagination a:-webkit-any-link{
  text-decoration: none;
  color: #fa9c23;
}
